@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.image-container {
  width: 400px;
  height: 410px;
  margin: 30px;
}

img {
  width: 400px;
  height: 350px;
}

.footer {
  background-color: white;
  display: flex;
}
.text-box-1 {
  font-family: "Roboto", sans-serif;
}

.text-box-2 {
  font-family: "Roboto", sans-serif;
}
