body {
  background-color: #eff3f8;
}
.selector-box {
  display: flex;
  justify-content: center;
}

.picture-card-container {
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
